<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    检查给定的数字是否是偶数。如果数字是偶数，你的函数应该返回{% if is_js %}<b class="code">true</b> {% else %} <b class="code">True</b> {% endif %} ；如果数字是奇数，{% if is_js %}<b class="code">false</b> {% else %} <b class="code">False</b> {% endif %} 。
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong> {% if is_js %}一个数字<span>(number)</span>{% else %} 一个整数<span>(int)</span>{% endif %} 。
</p>

<p>
   <strong>输出：</strong> {% if is_js %}逻辑值<span>(boolean)</span>{% else %} 逻辑值<span>(bool)</span>{% endif %} 。 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>

    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>它是如何被使用的：</strong>
    <i>(数学到处都在使用)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>前提条件：</strong>
    <i>给定的int<span>(int)</span> 应该在-1000和1000之间。</i>
</p> -->
