{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def is_even(num: int) -> bool:
    # your code here
    return None
{% endblock start %}

{% block example %}
print('Example:')
print(is_even(2))
{% endblock %}

{% block tests %}
{% for t in tests %}
assert {% block call %}is_even({{t.input|p_args}})
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The mission is done! Click 'Check Solution' to earn rewards!")
{% endblock final %}