<!-- Describe task in general -->

<p>
    Check if the given number is even or not. Your function should return {% if is_js %}<b class="code">true</b>{% else %}<b class="code">True</b>{% endif %} if the number is even, and {% if is_js %}<b class="code">false</b>{% else %}<b class="code">False</b>{% endif %} if the number is odd.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}A <span translate="repeat">number</span>{% else %}An integer <span translate="no">(int)</span>{% endif %}.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}Logic value <span translate="no">(boolean)</span>{% else %}Logic value <span translate="no">(bool)</span>{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Precondition:</strong>
    <i>given <span translate="repeat">int</span> should be between -1000 and 1000</i>
</p>
