<!-- Describe task in general -->

<p>
    Проверить является ли число четным или нет. Ваша функция должна возвращать {% if interpreter.slug == "js-node" %}true{% else %}True{% endif %} если число четное, и {% if interpreter.slug == "js-node" %}false{% else %}False{% endif %} если число не четное.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Входные данные: </strong> Целое число.
</p>

<p>
    <strong>Выходные данные: </strong> Логический тип. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Пример:</strong>
    </p>

    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>Где это используется: </strong>
    <i>(математика используется везде)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Условия:</strong>
    <i>целые числа даны в диапазоне от -1000 и до 1000</i>
</p> -->
