<!-- Describe task in general -->

<p>
    Proszę sprawdzić, czy podana liczba jest parzysta czy nieparzysta. Państwa funkcja powinna zwrócić {% if is_js %}<b class="code">true</b> {% else %} <b class="code">True</b> {% endif %} jeśli liczba jest parzysta, oraz {% if is_js %}<b class="code">false</b> {% else %} <b class="code">False</b> {% endif %} jeśli liczba jest nieparzysta.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Dane wejściowe:</strong> {% if is_js %}Liczba <span>(number)</span>{% else %} Liczba całkowita <span>(int)</span>{% endif %}.
</p>

<p>
   <strong>Wyjście:</strong> {% if is_js %}Wartość logiczna <span>(boolean)</span>{% else %} Wartość logiczna <span>(bool)</span>{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>Jak jest używana:</strong>
    <i>(matematyka jest używana wszędzie)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Warunek wstępny:</strong>
    <i>podana wartość int powinna zawierać się w przedziale od -1000 do 1000</i>
</p> -->
