<!-- Describe task in general -->

<p>
    Sprawdź, czy podana liczba jest parzysta. Twoja funkcja powinna zwrócić {% if interpreter.slug == "js-node" %}true{% else %}True{% endif %} jeśli liczba jest parzysta i {% if interpreter.slug == "js-node" %}false{% else %}False{% endif %} jeśli jest nieparzysta.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Wejście: </strong> Int.
</p>

<p>
    <strong>Wyjście: </strong> Bool. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykład:</strong>
    </p>

    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Do czego jest używane: </strong>
    <i>(matma jest używana wszędzie ;) )</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Warunek wstępny:</strong>
    <i>Liczba powinna być z zakresu od  -1000 do 1000</i>
</p>
